@import "../global.scss";

.list_event {

  .noeventsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blackColor;
    padding: 10px;
    color: $whiteColor;
    border-radius: 10px;
    a{
      margin-top: 20px;
      text-decoration: none;
      color: $yellowColor;
      font-size: 22px;
      transition: all 0.2s ease-in-out;
      &:hover{
        letter-spacing: 3px;
      }
    }
  }
  
  margin: 50px;

  @include tablet {
    margin: 5px 0;
  }
  

  .events {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .event {
      width: 300px;
      background-color: $whiteColor;
      padding: 10px;
      border-radius: 10px;
      list-style: none;
      margin: 50px;

      @include mobile {
        margin: 30px 0;
      }

      .pictures {
        width: 100%;
        height: 200px;
        img {
          width: 50%;
          height: 100%;
          object-fit: cover;
        }
      }

      .informations {
        position: relative;
        padding: 10px 5px;
        width: 100%;
        height: auto;
        background-color: $blackColor;
        border-radius: 10px;
        color: $whiteColor;

        .person {
          display: flex;
          align-items: center;

          .pic_person {
            margin-left: 5px;
            width: 40px;
            height: 40px;
            background-color: $yellowColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: $secondFont;
              color: $blackColor;
            }
          }

          .name_person {
            margin-left: 10px;
          }

          .stars_person {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .evenement {
          padding-top: 15px;
          p {
            margin-bottom: 15px;
          }

          ul {
            position: absolute;
            top: 0;
            right: 0;
            list-style: none;
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            li {
              font-style: italic;
            }
          }
        }
        .button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            font-size: 18px;
            width: 150px;
            background-color: $yellowColor;
            border-radius: 10px;
            padding: 7px 10px;
            border: none;
            outline: none;
            cursor: pointer;
            &.button_not{
              cursor: not-allowed;
            }
            &:hover{
              background-color: $secondBlackColor;
              color: $yellowColor;
            }
          }
        }
        .modal {
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;

          select{
            background-color: $yellowColor;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 10px 17px;
            color: $secondBlackColor;
          }
        }
      }
    }
  }
}
