
@import './global.scss';

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $greenColor;
  font-family: $mainFont;
}

h1 {
  margin: 20px;
  font-family: $secondFont;
  text-align: center;
}